 
name: deploy polio-collector
on:
  push:
    branches:
      - main
env:
  ECR_REPO_NAME: dev-demonitoring-api
  TAG: v1.0.0
  NAMESPACE: modelmonitoringservice   
  

jobs:
  web-deploy:
    name: Deploy
    runs-on: ubuntu-latest
    steps:
      - name: Get latest code
        uses: actions/checkout@v3

      - name: Use Node.js 16
        uses: actions/setup-node@v2
        with:
          node-version: "16"

      - name: Build project
        run: |
          npm install
          npm run build

      - name: Sync files
        uses: SamKirkland/FTP-Deploy-Action@v4.3.5
        with:
          server: ${{ secrets.GIT_CPANEL_NODE_SERVER }}
          username: ${{ secrets.GIT_CPANEL_NODE_SERVER }}
          password: ${{ secrets.GIT_CPANEL_NODE_SERVER }}
          protocol: ${{ secrets.GIT_CPANEL_NODE_SERVER }}
          local-dir: ./build/